body{
    font-family:  'Nunito Sans', sans-serif, Helvetica;
}

/*--------- menu ---------*/
a{
    text-decoration: none; /* no underline */
    color: black;
    Display:inline-block;
}
a, a:visited{
    color:black; 
}
.menu{
    font-size: 120%;
    text-transform: uppercase;
}
#clicked{
    color: grey;
}

#upperMenu{
    height: 100px;
    margin-left: -30px;

}

#about :hover{
    text-decoration: none;
    color: grey;
}

#portfolio :hover{
    text-decoration: none;
    color: grey;
}

#siteName :hover{
    text-decoration: none;
}

#siteName{
    font-size: 250%;
    text-transform: uppercase;
}
/* --------- end menu --------- */

/* --------- text --------- */


h1{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-size: 23px;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

h4{
    font-size: 16px;
}

p{
    text-align: justify;
}

/* --------- end text --------- */



.coopImg{
    width: 255px;
    height: 151px; 
}

#drawing{
    width: 327px;
    height: 122px;
}

#globes{
    width: 67px;
    height: 75px;
}
#globesText{
    padding-right: 10%;
    text-align: right;
}
#text :hover{
    color:#ac1d1d;
    text-decoration: none;

}
#projectInfo :hover{
    color: grey;
    text-decoration: none;

}
/*--------down pics ---------*/
#firstPic{
    margin-left: 15px;
}
.pic{
    padding: 0px 0px 0px 0px;
    width: 255px;
    height: 151px; 
}











