body{
    font-family:  'Nunito Sans', sans-serif, Helvetica;
}

.up{
    margin-left: 6%;
    padding-left: 7%;
}



/*----------menu----------*/
a{
    text-decoration: none; /* no underline */
    color: black;
    Display:inline-block;
}
a, a:visited{
    color:black; 
}
.menu{
    font-size: 120%;
    text-transform: uppercase;
}
#clicked{
    color: grey;
}

#upperMenu{
    height: 100px;
    margin-left: -30px;

}

#about :hover{
    text-decoration: none;
    color: grey;
}

#portfolio :hover{
    text-decoration: none;
    color: grey;
}

#siteName :hover{
    text-decoration: none;
}

#siteName{
    font-size: 250%;
    text-transform: uppercase;
}
/*----------end menu----------*/

/*----------text----------*/


h1{
    font-size: 70px;
    font-weight: bold;
}

h2{
    font-size: 23px;
}


h3{
    font-size: 16px;
}
/*----------end text----------*/

.clip{
    padding-left: 0%;
}

.github{
    padding-right: 100;
}
.bandLink :hover{
    color: grey;
    text-decoration: none;
}
#awards{
    width: 313px;
    height: 198px;
    margin-top: 30px;
    margin-bottom: 30px;
}
